* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

:root {
    --main-color: #CE2127;
    --secondary-color: #fdfdfd;
}

/* Reponsive container-tailwind for tailwind css */
.container-tailwind{
    @apply px-0 md:px-12
}

/* For navbar dropdown */
.dropdown:hover .dropdown-menu {
    display: block;
}